[submodule "minerva-project"]
	path = minerva-project
	url = https://github.com/jonathancheezy/Minerva.git
[submodule "pawfect-reborn-git"]
	path = pawfect-reborn-git
	url = https://github.com/jonathancheezy/Ego.git